body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Archivo Black", sans-serif;
  /* font-family: "Chakra Petch", sans-serif; */
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-section {
  font-size: 2em;
}

#main-calc-section {
  border: solid black 2px;
  width: 20%;
  height: 55%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  width: 90%;
  height: 20%;
  border: solid black 2px;
  border-radius: 6px;
  margin: 14px;
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#upper-disp-content {
  font-size: 1em;
  margin: 0.3em;
  align-self: flex-start;
}

#mid-disp-content {
  font-size: 2em;
  margin: 0.3em;
}

#buttons-section {
  width: 90%;
  height: 70%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

#left-buttons-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.button {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: solid #060504 2px;
  width: 60px;
  height: 60px;
}


#delete-button {
  width: 400%;
  background-color: #d83c32;
}
